:root {
    --bcak-color: white;
}

@font-face {
    font-family: "Rubik-Bubbles";
    src: url(/fonts/RubikBubbles-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Telex-Regular";
    src: url("/fonts/Telex-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

#about {
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 10rem;
    text-transform: uppercase;
}

#directions {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 10rem;
    text-transform: uppercase;
}

header {
    margin-top: 40rem;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30rem;
    font-size: 20rem;
    letter-spacing: 6rem;
    font-family: "Rubik-Bubbles";
    text-transform: uppercase;
}


.header-under-text {
    display: flex;
    justify-content: space-between;
}

.header-left-text {
    position: relative;
    top: 300px;
    left: 100px;
    font-size: 5rem;

}

.header-right-text {
    position: relative;
    top: 300px;
    right: 100px;
    font-size: 5rem;
}

.card-text {
    display: grid;
    height: 120rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-top: 350px;

}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1 p {
    font-size: 8em;
}

.card-1 h1 {
    font-size: 12rem;
    text-transform: uppercase;
}

.card-1:nth-child(2) {
    border: 4px solid black;
    border-top: none;
    border-bottom: none;
}

.card-image {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 36px;
}

.card-image-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-child:nth-child(3) {
    background-color: black;
    color: white;

}

.card-image-child:nth-child(5) {
    background-color: whitesmoke;
    color: black;
}

.card-image-child:nth-child(7) {
    background-color: #969F7D;
    color: black;
}

.card-image-child:nth-child(9) {
    background-color: #F8EDDE;
    color: black;
}


.card-image-child:nth-child(11) {
    background-color: #D3C7BA;
    color: black;
}


.card-image-child:nth-child(12) {
    background-color: black;
    color: white;

}


.sdds {
    position: relative;
    width: 100%;
    height: 100%;
}

.sdds img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sdds p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    bottom: 15rem;
    font-size: 8rem;
}

.sdds p:nth-child(2) {
    left: 30%;
    right: auto;
}


.sdds p:nth-child(3) {
    left: auto;
    right: 25%;
}

.up-text {
    position: relative;
    left: 6rem;
    top: 4rem;
    font-size: 10rem;
    color: white !important;
}

.card-image-child h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 43%;
    font-size: 250px;
    text-transform: uppercase;
}

.image-monkey {
    position: relative;
}

.text-monkey {
    position: absolute;
    left: 6rem;
    top: 4rem;
    font-size: 10rem;
    color: white !important;
}

.two-cards {
    display: flex;
    justify-content: space-between;
    height: 800px;
}

.two-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}