:root {
    --bcak-color: white;
}

@font-face {
    font-family: "Rubik-Bubbles";
    src: url(/fonts/RubikBubbles-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Telex-Regular";
    src: url("/fonts/Telex-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "PTSans-Regular";
    src: url("/fonts//PTSans-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
}


#about,
#directions {
    position: absolute;
    top: 30px;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 4px;
}

#about:hover{
    transform: translateY(-3px);
}

#directions:hover {
    transform: translateY(-3px);
}

#about {
    left: 30px;
}

#directions {
    right: 30px;
}



header {
    margin: 5rem 0;
}

.header h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 200px;
    font-size: 13rem;
    letter-spacing: 2rem;
    font-family: "Rubik-Bubbles";
    text-transform: uppercase;
}

.header-under-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 75px;
}

.header-left-text,
.header-right-text {
    position: relative;
    font-size: 2rem;
    font-family: "PTSans-Regular";
}

.header-left-text {
    left: 50px;
}

.header-right-text {
    right: 50px;
}



.card-text {
    display: grid;
    height: 27rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1 p {
    font-size: 2em;
}

.card-1 h1 {
    font-size: 3rem;
    text-transform: uppercase;
}


.card-1:nth-child(2) {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
}

.card-1:hover {
    transform: translateY(-5px)
}

.card-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-image-child:hover {
    transform: translateY(-5px)
}

.card-image-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-child:nth-child(3) {
    background-color: black;
    color: white;
    position: relative;
}

.card-image-child:nth-child(5) {
    background-color: whitesmoke;
    color: black;
}

.card-image-child:nth-child(7) {
    background-color: #969F7D;
    color: black;
}

.card-image-child:nth-child(9) {
    background-color: #F8EDDE;
    color: black;
}

.card-image-child:nth-child(11) {
    background-color: #D3C7BA;
    color: black;
}

.card-image-child:nth-child(12) {
    background-color: black;
    color: white;
    position: relative;
}


.card-image-child a {
    color: white;
    z-index: 10;
}


.card-image-child h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40%;
    font-size: 5rem;
    text-transform: uppercase;
}

.sdds {
    position: relative;
    width: 100%;
    height: 100%;
}

.sdds img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sdds p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    bottom: 5rem;
    font-size: 3rem;
}

.sdds p:nth-child(2) {
    left: 20%;
    right: auto;
}

.sdds p:nth-child(3) {
    left: auto;
    right: 15%;
}

.up-text {
    position: absolute;
    right: 1rem;
    top: 1rem;
    left: auto;
    transform: none;
    font-size: 3rem;
    color: white !important;
    text-align: right;
    text-decoration: underline;
}

.image-monkey {
    position: relative;
}

.text-monkey {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 3rem;
}

.text-monkey a {
    color: white !important;
    text-decoration: none;
    text-decoration: underline;
}

.two-cards {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    height: 400px;
    margin-top: 1rem;
    gap: 1rem;
}

.first-card:hover {
    transform: translateY(-5px)
}

.two-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two-cards .first-card.left {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #F8EDDE;
}

.first-card.left h1 {
    font-size: 5rem;
    text-transform: uppercase;
    position: static;
}

.two-cards .first-card.right {
    flex-grow: 1;
}

.under-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

.text {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}


.footer-container {
    margin-left: 20px;
    margin-right: 20px;
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    padding-right: 120px;
}

.follow p {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: black;
}

.allow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 130px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 2px solid black;
}

.allow-small {
    position: relative;
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
}
.follow:hover {
    transform: translateY(-3px);
}
.follow-link {
    text-decoration: none;
    color: black;
}

.footer-img img {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    object-fit: cover;
}

.text-1 {
    margin-top: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-header {
    text-align: center;
    margin-top: 70px;
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-under-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 10px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}